body{
    margin: 0;
}

nav{
    align-items: center;
    background-color: #e98251;
    display: flex;
    height: 60px;
    justify-content: space-evenly;
}

nav a{
    color: #17386d;
    font-family: 'VT323', monospace;
    font-size: 22pt;
    text-decoration: nome;

}

header{
    background-image: url("./imagens/cinco-kages.jpg");
    background-size: cover;
    height: 400px;
}